
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;

    --card: 220 13% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 220 13% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 167 95% 48%;
    --primary-foreground: 0 0% 0%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 27% 16%;
    --muted-foreground: 215 20% 70%;

    --accent: 215 27% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;

    --border: 213 48% 19%;
    --input: 215 27% 16%;
    --ring: 212 27% 84%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-appDark text-foreground;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1b3045;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #264060;
}

.app-button {
  position: relative;
  overflow: hidden;
}

.app-button::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(9, 247, 160, 0.1),
    rgba(9, 247, 160, 0.05),
    rgba(9, 247, 160, 0)
  );
  transform: rotate(30deg);
  transition: transform 0.3s ease;
}

.app-button:hover::after {
  transform: rotate(30deg) translate(10%, 10%);
}
